@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 1.4em;
    text-align: center;
    margin: 0 0 1em 0;
    padding-bottom: .2em;
    font-weight: 700;
}

.container {
    width: 95%;
    max-width: 500px;
    margin: 3em auto;
    height: 100%;
    padding: 2em 2em 3em;
    color: #333;
    background: rgba(220,220,220,.1);
    -webkit-box-shadow: -3px 1px 21px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 1px 21px -2px rgba(0,0,0,0.75);
    box-shadow: -3px 1px 21px -2px rgba(0,0,0,0.75);
}

.input_container {
    padding-bottom: .75em;
    margin-bottom: .75em;
    position: relative;
}

lable, input, button {
    display: block;
    width: 100%;
}

lable {
    margin-bottom: .6em;
}

input {
    padding: .75em .5em;
    border: 1px solid rgba(220,220,220,.8);
    margin-bottom: .4em;
}

input:focus {
    outline: none;
    padding: .78em .6em;
    border: 2px solid rgba(220,220,220);
}

input::placeholder , button {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.05em;
}

.input_container.success input {
    border: 2px solid greenyellow;
}

.input_container.error input {
    border: 2px solid #e74c3c;
}

small {
    color: #e74c3c;
    position: absolute;
    bottom: -0.2em;
    left: 0;
    visibility: hidden;
}

.input_container.error small{
    visibility: visible;
}

.input_container.success small{
    visibility: visible;
    color: greenyellow;
}

button {
    margin-top: 2em;
    padding: .75em .5em;
    background: #346beb;
    color: white;
    border: none;
    cursor: pointer;
}